<h1>Categories</h1>

{{#if message}}
    <div class="alert alert-info">{{message}}</div>
{{/if}}

{{#if categories}}
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
                <tr>
                    <td>{{this.category}}</td>
                    <td>
                        <a href="/categories/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No categories available.</p>
{{/if}}
